<extend name="Public:base" />
<block name="header">
    <span class="action-span"><a href="">添加新商品</a></span>
    <span class="action-span1"><a href="">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 商品列表 </span>
    <div style="clear:both"></div>
</block>
<block name="body">
<div class="form-div">
    <form action="" name="searchForm">
        <img src="__PUBLIC__/Admin/Images/icon_search.gif" width="26" height="22" border="0" alt="search" />
        <!-- 分类 -->
        <select name="cate_id">
            <option value="0">所有分类</option>
                <volist name="cate" id="vo">
                    <option value="{$vo.id}" <eq name="Think.get.cate_id" value="$vo.id">selected="selected"</eq>>|{$vo.lev|str_repeat='--',###}{$vo.cname}</option>
                </volist>
        </select>

        <!-- 推荐 -->
        <select name="intro_type">
            <option value="0">全部</option>
            <option value="is_rec" <if condition='$Think.get.intro_type == is_rec'>selected="selected"</if>>推荐</option>
            <option value="is_new" <if condition='$Think.get.intro_type == is_new'>selected="selected"</if>>新品</option>
            <option value="is_hot" <if condition='$Think.get.intro_type == is_hot'>selected="selected"</if>>热销</option>
        </select>
        <!-- 上架 -->
        <select name="is_sale">
            <option value='0'>全部</option>
            <option value="1" <if condition='$Think.get.is_sale == 1'>selected="selected"</if>>上架</option>
            <option value="2" <if condition='$Think.get.is_sale == 2'>selected="selected"</if>>下架</option>
        </select>
        <!-- 关键字 -->
        关键字 <input type="text" name="keyword" size="15" value="{$Think.get.keyword}"/>
        <input type="submit" value=" 搜索 " class="button" />
    </form>
</div>

<!-- 商品列表 -->

    <div class="list-div" id="listDiv">
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>编号</th>
                <th>属性名称</th>
                <th>类型名称</th>
                <th>属性类型</th>
                <th>属性的录入方式</th>
                <th>默认值</th>
                <th>操作</th>
            </tr>
            <volist name="data.list" id="vo">
            <tr>
                <td align="center">{$vo.id}</td>
                <td align="center" class="first-cell"><span>{$vo.attr_name}</span></td>
                <td align="center" class="first-cell"><span>{$vo.type_id}</span></td>
                <td align="center" class="first-cell"><span><eq name="vo.attr_type" value="1">唯一属性<else/>单选属性</eq></span></td>
                <td align="center" class="first-cell"><span><eq name="vo.attr_input_type" value="1">手工输入<else/>列表选项</eq></span></td>
                <td align="center" ><span>{$vo.attr_value}</span></td>
                <td align="center">
                <a href="{:U('edit','attr_id='.$vo['id'])}" title="编辑">编辑</a>
                <a href="__CONTROLLER__/dels/attr_id/{$vo.id}" onclick="" title="回收站">删除</a></td>
            </tr>
            </volist>
        </table>

        <!-- 分页开始 -->
        <table id="page-table" cellspacing="0">
            <tr>
                <td width="80%">&nbsp;</td>
                <td align="center" nowrap="true">
                    {$data.pageStr}
                </td>
            </tr>
        </table>
    <!-- 分页结束 -->
    </div>
</block>